.Eligiblity,
.Applicant,
.Contact {
    .step {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }
    .step__body {
        position: absolute;
        top: 40vh;
        bottom: initial;
    }
    .segment__actions {
        justify-content: space-between;
        margin-top: 60px;
    }
}