.Applicant,
.Contact {
    .modal__header {
        // position: fixed;
        // width: 100%;
        // z-index: 1000;
    }
    .step {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }
    .step__body {
        position: absolute;
        top: 40vh;
        bottom: initial;
        .wrapper {
            // overflow: auto;
            background: var(--pm-bg-dark);
        }
    }
    .segment__actions {
        justify-content: space-between;
        margin-top: 60px;
    }
}