.modal.Eligibility {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    fieldset {
        position: relative;
        .form-group {
            &:not(:last-child) {
                position: absolute;
                z-index: -10;
                animation: stepOut 300ms forwards;
            }
            &:last-child {
                opacity: 0;
                animation: stepIn 500ms 1000ms forwards;
            }
            &:first-child:last-child {
                opacity: 1;
                animation: none;
            }
        }
    }
    .question-fancy {
        &__text-col {
            .h2 {
                color: var(--pm-bg);
            }
            .bodyLarge {
                color: var(--pm-bg);
            }
        }
    }  
    @media screen and (min-width: 800px) {
        overflow: auto;
        .step__body {
            height: auto !important;
        }
        fieldset .form-group {
            position: relative !important;
            opacity: 1 !important;
            animation: none !important;
            z-index: 10 !important;
        }
        .question-fancy {
            &__text-col {
                .h2 {
                    color: var(--pm-bg-dark);
                }
                .bodyLarge {
                    color: var(--pm-bg-dark);
                }
            }
        }
    }
}