@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 60px, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeFromLeft {
    from {
      opacity: 0;
      transform: translate3d(-60px, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeFromRight {
    from {
      opacity: 0;
      transform: translate3d(60px, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}
.animate-in {
    opacity: 0;
    animation: fadeInUp .5s var(--cubic-bezier) forwards;
}
.step-enter,
.step-appear,
.step-enter,
.step-appear,
.step-enter,
.step-appear {
	position: absolute;
	opacity: 0;
	transform: translateX(10%);
}
.step-enter.step-enter-active,
.step-enter.step-appear-active,
.step-appear.step-enter-active,
.step-appear.step-appear-active,
.step-enter.step-enter-active,
.step-enter.step-appear-active,
.step-appear.step-enter-active,
.step-appear.step-appear-active,
.step-enter.step-enter-active,
.step-enter.step-appear-active,
.step-appear.step-enter-active,
.step-appear.step-appear-active {
	opacity: 1;
	transform: translateX(0%);
	transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.step-leave,
.step-leave,
.step-leave {
	opacity: 1;
	transform: translateX(0);
}
.step-leave.step-leave-active,
.step-leave.step-leave-active,
.step-leave.step-leave-active {
	opacity: 0;
	transform: translateX(-10%);
	transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.modal-enter,
.modal-appear {
    opacity: 0;
    transform: scale(1.4);
}
.modal-enter-active,
.modal-appear-active {
    opacity: 1;
    transform: scale(1);
    transition: all .5s var(--cubic-bezier);
}
.modal-exit {
    opacity: 1;
    transform: scale(1);
}
.modal-exit-active {
    opacity: 0;
    transform: scale(1.4);
    transition: all .5s var(--cubic-bezier);
}

.slide-up-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  z-index: 1;
}
.slide-up-enter.slide-up-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity 500ms linear, transform 500ms var(--cubic-bezier);
}
.slide-up-exit {
    opacity: 1;
    transform: scale(1) translateY(0);
    
}
.slide-up-exit.slide-up-exit-active {
    opacity: 0;
    transform: scale(0.97) translateY(5px);
    transition: opacity 500ms linear, transform 500ms var(--cubic-bezier);
}
.slide-up-exit-done {
  opacity: 0;
}