@font-face {
    font-family: 'icomoon';
    src:  url('fonts/eh-icons/icomoon.eot?f9r8uf');
    src:  url('fonts/eh-icons/icomoon.eot?f9r8uf#iefix') format('embedded-opentype'),
      url('fonts/eh-icons/icomoon.ttf?f9r8uf') format('truetype'),
      url('fonts/eh-icons/icomoon.woff?f9r8uf') format('woff'),
      url('fonts/eh-icons/icomoon.svg?f9r8uf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-Ask-A-Doctor .path1:before {
    content: "\e900";
    color: rgb(136, 201, 206);
  }
  .icon-Ask-A-Doctor .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Ask-A-Doctor .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Ask-A-Doctor .path4:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Ask-A-Doctor .path5:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Ask-A-Doctor .path6:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Ask-A-Doctor .path7:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Ask-A-Doctor .path8:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(164, 207, 242);
  }
  .icon-Ask-A-Doctor .path9:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Ask-A-Doctor .path10:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Ask-A-Doctor .path11:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Ask-A-Doctor .path12:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Ask-A-Doctor .path13:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Ask-A-Doctor .path14:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Ask-A-Doctor .path15:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Ask-A-Doctor .path16:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Ask-A-Doctor .path17:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Ask-A-Doctor .path18:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Ask-A-Doctor .path19:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Ask-A-Doctor .path20:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Ask-A-Doctor .path21:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Ask-A-Doctor .path22:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Ask-A-Doctor .path23:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(173, 206, 69);
  }
  .icon-Ask-A-Doctor .path24:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Ask-A-Doctor .path25:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Baby .path1:before {
    content: "\e919";
    color: rgb(136, 201, 206);
  }
  .icon-Baby .path2:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Baby .path3:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Baby .path4:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Baby .path5:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Baby .path6:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Baby .path7:before {
    content: "\e91f";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Baby .path8:before {
    content: "\e920";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Baby .path9:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Baby .path10:before {
    content: "\e922";
    margin-left: -1em;
    color: rgb(173, 206, 69);
  }
  .icon-Baby .path11:before {
    content: "\e923";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Baby .path12:before {
    content: "\e924";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Broken-Arm .path1:before {
    content: "\e925";
    color: rgb(136, 201, 206);
  }
  .icon-Broken-Arm .path2:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Broken-Arm .path3:before {
    content: "\e927";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Broken-Arm .path4:before {
    content: "\e928";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Broken-Arm .path5:before {
    content: "\e929";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Broken-Arm .path6:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Broken-Arm .path7:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Broken-Arm .path8:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Broken-Arm .path9:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Broken-Arm .path10:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Broken-Arm .path11:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Broken-Arm .path12:before {
    content: "\e930";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Broken-Arm .path13:before {
    content: "\e931";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Broken-Arm .path14:before {
    content: "\e932";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Broken-Arm .path15:before {
    content: "\e933";
    margin-left: -1em;
    color: rgb(173, 206, 69);
  }
  .icon-Broken-Arm .path16:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Direct-Admission .path1:before {
    content: "\e935";
    color: rgb(136, 201, 206);
  }
  .icon-Direct-Admission .path2:before {
    content: "\e936";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Direct-Admission .path3:before {
    content: "\e937";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Direct-Admission .path4:before {
    content: "\e938";
    margin-left: -1em;
    color: rgb(173, 206, 69);
  }
  .icon-Direct-Admission .path5:before {
    content: "\e939";
    margin-left: -1em;
    color: rgb(118, 165, 79);
  }
  .icon-Direct-Admission .path6:before {
    content: "\e93a";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Direct-Admission .path7:before {
    content: "\e93b";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Direct-Admission .path8:before {
    content: "\e93c";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Direct-Admission .path9:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Direct-Admission .path10:before {
    content: "\e93e";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Direct-Admission .path11:before {
    content: "\e93f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Direct-Admission .path12:before {
    content: "\e940";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Direct-Admission .path13:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Direct-Admission .path14:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Direct-Admission .path15:before {
    content: "\e943";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Direct-Admission .path16:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Direct-Admission .path17:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Direct-Admission .path18:before {
    content: "\e946";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Direct-Admission .path19:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(164, 207, 242);
  }
  .icon-Direct-Admission .path20:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Direct-Admission .path21:before {
    content: "\e949";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Direct-Admission .path22:before {
    content: "\e94a";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Direct-Admission .path23:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Doctor .path1:before {
    content: "\e94c";
    color: rgb(136, 201, 206);
  }
  .icon-Doctor .path2:before {
    content: "\e94d";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Doctor .path3:before {
    content: "\e94e";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Doctor .path4:before {
    content: "\e94f";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Doctor .path5:before {
    content: "\e950";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Doctor .path6:before {
    content: "\e951";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Doctor .path7:before {
    content: "\e952";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Doctor .path8:before {
    content: "\e953";
    margin-left: -1em;
    color: rgb(164, 207, 242);
  }
  .icon-Doctor .path9:before {
    content: "\e954";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Doctor .path10:before {
    content: "\e955";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Doctor .path11:before {
    content: "\e956";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Doctor .path12:before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Doctor .path13:before {
    content: "\e958";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Doctor .path14:before {
    content: "\e959";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Doctor .path15:before {
    content: "\e95a";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Doctor .path16:before {
    content: "\e95b";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Doctor .path17:before {
    content: "\e95c";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Doctor .path18:before {
    content: "\e95d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Doctor .path19:before {
    content: "\e95e";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Doctor .path20:before {
    content: "\e95f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Doctor .path21:before {
    content: "\e960";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Doctor .path22:before {
    content: "\e961";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Emergency-Chopper .path1:before {
    content: "\e962";
    color: rgb(136, 201, 206);
  }
  .icon-Emergency-Chopper .path2:before {
    content: "\e963";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Emergency-Chopper .path3:before {
    content: "\e964";
    margin-left: -1em;
    color: rgb(164, 207, 242);
  }
  .icon-Emergency-Chopper .path4:before {
    content: "\e965";
    margin-left: -1em;
    color: rgb(173, 206, 69);
  }
  .icon-Emergency-Chopper .path5:before {
    content: "\e966";
    margin-left: -1em;
    color: rgb(118, 165, 79);
  }
  .icon-Emergency-Chopper .path6:before {
    content: "\e967";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Emergency-Chopper .path7:before {
    content: "\e968";
    margin-left: -1em;
    color: rgb(164, 207, 242);
  }
  .icon-Emergency-Chopper .path8:before {
    content: "\e969";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Emergency-Chopper .path9:before {
    content: "\e96a";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Emergency-Chopper .path10:before {
    content: "\e96b";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Emergency-Chopper .path11:before {
    content: "\e96c";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Emergency-Chopper .path12:before {
    content: "\e96d";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Emergency-Chopper .path13:before {
    content: "\e96e";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Emergency-Chopper .path14:before {
    content: "\e96f";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Emergency-Chopper .path15:before {
    content: "\e970";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Emergency-Chopper .path16:before {
    content: "\e971";
    margin-left: -1em;
    color: rgb(173, 206, 69);
  }
  .icon-Emergency-Chopper .path17:before {
    content: "\e972";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Emergency-Chopper .path18:before {
    content: "\e973";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Emergency-Chopper .path19:before {
    content: "\e974";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Emergency-Chopper .path20:before {
    content: "\e975";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Emergency-Chopper .path21:before {
    content: "\e976";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Emergency-Chopper .path22:before {
    content: "\e977";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Emergency-Chopper .path23:before {
    content: "\e978";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Emergency-Chopper .path24:before {
    content: "\e979";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Emergency-Chopper .path25:before {
    content: "\e97a";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Emergency-Chopper .path26:before {
    content: "\e97b";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Emergency-Chopper .path27:before {
    content: "\e97c";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Endocrinology .path1:before {
    content: "\e97d";
    color: rgb(136, 201, 206);
  }
  .icon-Endocrinology .path2:before {
    content: "\e97e";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Endocrinology .path3:before {
    content: "\e97f";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Endocrinology .path4:before {
    content: "\e980";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Endocrinology .path5:before {
    content: "\e981";
    margin-left: -1em;
    color: rgb(173, 206, 69);
  }
  .icon-Endocrinology .path6:before {
    content: "\e982";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Endocrinology .path7:before {
    content: "\e983";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Endocrinology .path8:before {
    content: "\e984";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Endocrinology .path9:before {
    content: "\e985";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Endocrinology .path10:before {
    content: "\e986";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Endocrinology .path11:before {
    content: "\e987";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Health-Insurance .path1:before {
    content: "\e988";
    color: rgb(136, 201, 206);
  }
  .icon-Health-Insurance .path2:before {
    content: "\e989";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Health-Insurance .path3:before {
    content: "\e98a";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Health-Insurance .path4:before {
    content: "\e98b";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Health-Insurance .path5:before {
    content: "\e98c";
    margin-left: -1em;
    color: rgb(173, 206, 69);
  }
  .icon-Health-Insurance .path6:before {
    content: "\e98d";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Health-Insurance .path7:before {
    content: "\e98e";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Health-Insurance .path8:before {
    content: "\e98f";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Health-Insurance .path9:before {
    content: "\e990";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Health-Insurance .path10:before {
    content: "\e991";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Health-Insurance .path11:before {
    content: "\e992";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Health-Insurance .path12:before {
    content: "\e993";
    margin-left: -1em;
    color: rgb(173, 206, 69);
  }
  .icon-Health-Insurance .path13:before {
    content: "\e994";
    margin-left: -1em;
    color: rgb(118, 165, 79);
  }
  .icon-Health-Insurance .path14:before {
    content: "\e995";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Health-Insurance .path15:before {
    content: "\e996";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Hospital .path1:before {
    content: "\e997";
    color: rgb(136, 201, 206);
  }
  .icon-Hospital .path2:before {
    content: "\e998";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Hospital .path3:before {
    content: "\e999";
    margin-left: -1em;
    color: rgb(164, 207, 242);
  }
  .icon-Hospital .path4:before {
    content: "\e99a";
    margin-left: -1em;
    color: rgb(164, 207, 242);
  }
  .icon-Hospital .path5:before {
    content: "\e99b";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Hospital .path6:before {
    content: "\e99c";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Hospital .path7:before {
    content: "\e99d";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Hospital .path8:before {
    content: "\e99e";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Hospital .path9:before {
    content: "\e99f";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Hospital .path10:before {
    content: "\e9a0";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Hospital .path11:before {
    content: "\e9a1";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Hospital .path12:before {
    content: "\e9a2";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Hospital .path13:before {
    content: "\e9a3";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Hospital .path14:before {
    content: "\e9a4";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Hospital .path15:before {
    content: "\e9a5";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Hospital .path16:before {
    content: "\e9a6";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Hospital .path17:before {
    content: "\e9a7";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Hospital .path18:before {
    content: "\e9a8";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Hospital .path19:before {
    content: "\e9a9";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Hospital .path20:before {
    content: "\e9aa";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Hospital .path21:before {
    content: "\e9ab";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Hospital .path22:before {
    content: "\e9ac";
    margin-left: -1em;
    color: rgb(173, 206, 69);
  }
  .icon-Hospital .path23:before {
    content: "\e9ad";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Hospital .path24:before {
    content: "\e9ae";
    margin-left: -1em;
    color: rgb(164, 207, 242);
  }
  .icon-Hospital .path25:before {
    content: "\e9af";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Hospital .path26:before {
    content: "\e9b0";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-ID-Card .path1:before {
    content: "\e9b1";
    color: rgb(136, 201, 206);
  }
  .icon-ID-Card .path2:before {
    content: "\e9b2";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-ID-Card .path3:before {
    content: "\e9b3";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-ID-Card .path4:before {
    content: "\e9b4";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-ID-Card .path5:before {
    content: "\e9b5";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-ID-Card .path6:before {
    content: "\e9b6";
    margin-left: -1em;
    color: rgb(173, 206, 69);
  }
  .icon-ID-Card .path7:before {
    content: "\e9b7";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-ID-Card .path8:before {
    content: "\e9b8";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-ID-Card .path9:before {
    content: "\e9b9";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-ID-Card .path10:before {
    content: "\e9ba";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-ID-Card .path11:before {
    content: "\e9bb";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-ID-Card .path12:before {
    content: "\e9bc";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-ID-Card .path13:before {
    content: "\e9bd";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-ID-Card .path14:before {
    content: "\e9be";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-ID-Card .path15:before {
    content: "\e9bf";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-ID-Card .path16:before {
    content: "\e9c0";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-ID-Card .path17:before {
    content: "\e9c1";
    margin-left: -1em;
    color: rgb(164, 207, 242);
  }
  .icon-ID-Card .path18:before {
    content: "\e9c2";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-ID-Card .path19:before {
    content: "\e9c3";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-ID-Card .path20:before {
    content: "\e9c4";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Nurse .path1:before {
    content: "\e9c5";
    color: rgb(136, 201, 206);
  }
  .icon-Nurse .path2:before {
    content: "\e9c6";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Nurse .path3:before {
    content: "\e9c7";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Nurse .path4:before {
    content: "\e9c8";
    margin-left: -1em;
    color: rgb(173, 206, 69);
  }
  .icon-Nurse .path5:before {
    content: "\e9c9";
    margin-left: -1em;
    color: rgb(118, 165, 79);
  }
  .icon-Nurse .path6:before {
    content: "\e9ca";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Nurse .path7:before {
    content: "\e9cb";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Nurse .path8:before {
    content: "\e9cc";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Nurse .path9:before {
    content: "\e9cd";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Nurse .path10:before {
    content: "\e9ce";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Nurse .path11:before {
    content: "\e9cf";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Nurse .path12:before {
    content: "\e9d0";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Nurse .path13:before {
    content: "\e9d1";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Nurse .path14:before {
    content: "\e9d2";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Nurse .path15:before {
    content: "\e9d3";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Nurse .path16:before {
    content: "\e9d4";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Nurse .path17:before {
    content: "\e9d5";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Nurse .path18:before {
    content: "\e9d6";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Nurse .path19:before {
    content: "\e9d7";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Nurse .path20:before {
    content: "\e9d8";
    margin-left: -1em;
    color: rgb(173, 206, 69);
  }
  .icon-Nurse .path21:before {
    content: "\e9d9";
    margin-left: -1em;
    color: rgb(118, 165, 79);
  }
  .icon-Nurse .path22:before {
    content: "\e9da";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Nurse .path23:before {
    content: "\e9db";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Painful-Region .path1:before {
    content: "\e9dc";
    color: rgb(136, 201, 206);
  }
  .icon-Painful-Region .path2:before {
    content: "\e9dd";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Painful-Region .path3:before {
    content: "\e9de";
    margin-left: -1em;
    color: rgb(235, 239, 242);
  }
  .icon-Painful-Region .path4:before {
    content: "\e9df";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Painful-Region .path5:before {
    content: "\e9e0";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Painful-Region .path6:before {
    content: "\e9e1";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Painful-Region .path7:before {
    content: "\e9e2";
    margin-left: -1em;
    color: rgb(211, 230, 248);
  }
  .icon-Painful-Region .path8:before {
    content: "\e9e3";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Painful-Region .path9:before {
    content: "\e9e4";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Painful-Region .path10:before {
    content: "\e9e5";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Painful-Region .path11:before {
    content: "\e9e6";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Painful-Region .path12:before {
    content: "\e9e7";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Painful-Region .path13:before {
    content: "\e9e8";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Painful-Region .path14:before {
    content: "\e9e9";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Painful-Region .path15:before {
    content: "\e9ea";
    margin-left: -1em;
    color: rgb(118, 165, 79);
  }
  .icon-Painful-Region .path16:before {
    content: "\e9eb";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Painful-Region .path17:before {
    content: "\e9ec";
    margin-left: -1em;
    color: rgb(173, 206, 69);
  }
  .icon-Painful-Region .path18:before {
    content: "\e9ed";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  .icon-Painful-Region .path19:before {
    content: "\e9ee";
    margin-left: -1em;
    color: rgb(46, 59, 64);
  }
  