// Modal || Steps
.modal {
    backface-visibility: hidden;
    position: relative;
    // padding: 0;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    background-color: var(--pm-white);
    background-color: #ffffff;
    transition: opacity .5s ease-in-out;
    z-index: 100;

    color: var(--pm-bg-dark);
    &__header {
        padding: 12px;
        background: var(--pm-green700);
        background: var(--pm-green700);
        background: linear-gradient(to left, var(--pm-green700), var(--pm-green300)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-bottom: 1px solid var(--pm-green700);
        svg {
            width: 92px;
            height: auto;
        }
        @media screen and (min-width: 960px) {
            padding: 16px;
            svg {
                width: 112px;
                height: auto;
            }
        }
    }
    a:hover {
        text-decoration: none;
    }
    .button {
        transition: all .3s var(--cubic-bezier);
        &.primary {
            background: var(--pm-bg-dark);
            span {
                color: var(--pm-green300);
            }
            &:hover {
                background: var(--pm-bg-dark);
                transform: translateY(-4px);
                box-shadow: 0 6px 10px 0 rgba(33, 33, 33, .08), 0 1px 18px 0 rgba(33, 33, 33, .08), 0 3px 5px -1px rgba(33, 33, 33, .12);
            }
        }
        &.secondary {
            border: 1px solid var(--pm-green300);
            color: var(--pm-green300);
            span {
                color: var(--pm-bg-dark);
            }
        }
    }
}

// App
.eh-header,
.rc-footer {
    background: transparent;
}

// Form
.step {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: transparent;
    transition: opacity 1s;
    padding-top: 170px;
    padding-bottom: 150px;
    &__headline {
        opacity: 0;
        animation: fadeFromRight 1s var(--cubic-bezier) forwards;
    }
    &__illustration {
        position: absolute;
        top: 120px;
        right: 0;
        z-index: -1;
    
        opacity: 0;
        animation: fadeFromLeft 1s var(--cubic-bezier) forwards;
    }
    form {
        opacity: 0;
        animation: fadeIn 1s var(--cubic-bezier) forwards;
    }
    &__title:before {
        content: attr(data-step-num);
        background-color: var(--pm-green100);
        display: inline-block;
        font-size: 14px;
        letter-spacing: 0.5px;
        padding: 4px 5px 4px 8px;
        border-radius: 3px;
        text-transform: uppercase;
        position: absolute;
        top: -40px;
    }
}
legend,
.field-array > label {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 36px;
}
legend:before {
    content: '';
    position: absolute;
    top: 13px;
    right: 0;
    width: 60px;
    height: 3px;
    background: #22292f;
    @media screen and (min-width: 1440px) {
        right: 100%;
        transform: translateX(-28px);
    }
}
fieldset .form-group:last-child {
    margin-bottom: 140px;
}
