@import "layout";
@import "animations";

@import "text-field";
@import "checkbox";
@import "toggle";
@import "radio-button";
@import "select";
@import "EhBanner";

@import "pages/Eligibility";
@import "pages/Applicants";
@import "pages/Summary";

:root {
    --pm-white: #fafafa;
    --pm-bg: #ebeff2;
    --pm-grey: #d8ded9;
    --pm-bg-dark: #2e3b40;
    --pm-green100: #d8e46e;
    --pm-green200: #c8da3e;
    --pm-green300: #adce45;
    --pm-green700: #76a54f;
    --pm-teal300: #88c9ce;
    --pm-teal500: #46b7b8;
    --pm-teal900: #456670;
}

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    background: var(--pm-white);
}